<div class="content justify">
        <table style="width: 100%">
                <tr>
                        <td>
                                <img src = "/assets/MTG.svg" alt="MTG Logo" style="width: 200px; float:left;  fill: red;"/>
                        </td>
                        <td>
                                        <h1>Welcome to Gathering of Magic</h1>
                                        <h2>Your source for cards and irl matches</h2>
                        </td>

                </tr>
        </table>
</div>
