<div class="content justify">
        <form action="/tournaments/post" method="post">
                <label for="location">Location</label>
                <input type="text" id="location" name="location"><br><br>
                <input type="submit">
        </form>
</div>
